:root {
    /* COLORS */
    --c-primary: #2ecc71;
    --c-text: #2F3F42;

    /* FONTS */
    --f-futura: Futura-Medium, Futura;
}

/* BREAKPOINTS AS QUERIES */
@custom-media --bp-s (width <= 767px);
@custom-media --bp-from-m (width >= 768px);
