<!DOCTYPE html>
<html lang="en">
  <head>
    <title>React Prime</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="A starter kit to create comprehensive React apps with Redux and Styled-Components.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
