{
    "presets": [
      "react",
      "stage-0"
    ],
    "env": {
      "server": {
        "presets": [
          ["env", { "targets": { "node": "current" } }]
        ]
      },
      "client": {
        "presets": [
          ["env", { "targets": { "browsers": ["last 2 versions", "safari >= 7"] } }]
        ]
      }
    },
    "plugins": [
        "lodash",
        ["babel-plugin-styled-components", {
            "ssr": true
        }]
    ]
}
