@import 'styles/variables.css';

.login {
    text-align: center;
}

.message {
    font-size: 18px;
    margin-top: 0;
    color: var(--c-text);
    font-family: var(--f-futura);
    line-height: 30px;
}

.confetti {
    width: 22px;
}

.button {
    background: var(--c-primary);
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--f-futura);
}

.logo {
    width: 200px;
    display: block;
    margin: 0 auto;
}
